.input-container input {
    border: 1px solid #DEDEDE;
    background-color: #ffffff;
    outline: none;
    padding: 14px 20px 14px 20px;
    border-radius: 5px;
    opacity: 1 !important;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 96% center;
    width: 100%;
}

.input-container h6 {
    font-weight: 500;
    font-size: 1.1rem;
    font-style: italic;
    line-height: 100%;
    text-align: right;
    margin-top: 8px;
    color: #FF7979;
    display: none;
}

.input-container input:focus {
    border: 1px solid #5E54A4;
}

.input-container input::placeholder,
.input-container input {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.25px;
    color: #3D3B48;
}

.input-container input::placeholder {
    opacity: 0.75;
}   